# Spparks Simulation
/PRIMME/spparks_simulation_trainset/*

# Data and Plots (Must be manually added)
/PRIMME/data/*
!/PRIMME/data/data.md
/PRIMME/plots/*

/PRIMME/__pycache__/*

# Python Virtual Environment
/venv/*